body{
    min-width: 320px;
   
}
main{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
    padding-top: 70px;
    
    
}
.container{
    background-color: rgb(38, 42, 52);
    width: 300px;
    padding: 10px 0px 20px 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    
}

img{
    background-color: rgb(41, 48, 58);
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    margin-left: 25px;
   
}
h2{
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 18px;
    padding-left: 25px;
}
p{
    font-size: 12px;
    color: rgb(156, 156, 156);
    

}
.writeup{
    line-height: 18px;
    text-align: left;
    padding-left: 25px;
}
.ratings{
    display: flex;
    justify-content: center;
   
    
}
.ratings p{
    background-color: rgb(41, 48, 58);
    margin-left: 12px;
    padding: 8px 18px 8px 18px;
    border-radius: 23px;
    font-size: 11px;
}
.submit-btn{
    background-color: rgb(251, 117, 18);
    padding: 8px 100px 8px 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: none;
    color: aliceblue;
    border-radius: 10px;
    font-size: 10px;
    letter-spacing: 2px;
    margin-left: 30px;
}
